<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품단편</title>
</head>
<body>
	<div class="col-md-4" th:fragment="productdiv">
		<div class="course-listing">
			<div class="row">
				<div class="col-lg-12">
					<a href="product/1" th:href="@{'product/' + ${product.id}}"
						class="center-element">
						<img role="presentation"
							src="../../static/images/bumsoap-regular.jpg"
							th:src="@{'/images/' + ${product.imageUrl}}" class="center-img">
					</a>
					<div class="course-listing-title">
						<a href="product/1" class="course-listing-title">Introduction
							to Spring</a>
					</div>
					<div class="course-listing-subtitle">
						<a href="product/1" class="course-listing-subtitle">Introductory
							Course for the Spring Framework</a>
					</div>
				</div>
			</div>
			<div class="row course-listing-extra-info col-12">
				<div class="col-8">
					<img align="left" alt="John Thompson"
						src="../../static/images/producer_pj.jpg"
						th:src="@{/images/instructor_jt.jpg}"
						class="img-thumbnail rounded-circle" style='width: 45px'>
					<div class="small course-author-name">John Thompson</div>
				</div>
				<div class="col-4">
					<div class="small course-price">FREE</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>