<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>이것은 제목이다</title>
</head>
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>제일 큰 주제</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>둘째 큰 제목</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p style="color: red">한편 이런 내용</p>
			</div>
			<div class="col-md-6">
				<p style="color: red">또 다른 내용은</p>
			</div>
		</div>
	</div>
</body>
</html>