<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="#{login.page.title}">로그인 폼</title>
<link href="../static/css/bootstrap-5.3.3-dist/css/bootstrap.min.css"
	rel="stylesheet"
	th:href="@{/css/bootstrap-5.3.3-dist/css/bootstrap.min.css}">
<script src="../static/js/jquery-3.7.1.min.js"
	th:src="@{/js/jquery-3.7.1.min.js}"></script>
<link th:href="@{/css/custom.css}" rel="stylesheet" media="screen" />
</head>
<body class="bg-dark">
	<div class="container">
		<div class="row">
			<div class="w-50 col-4 offset-4 text-light">
				<h2 th:text="#{login.page.h2}" class="mt-5">
					로그인</h2>
				<form th:object="${credential}" th:action="@{/login}"
					method="post">
					<div th:if="${#fields.hasErrors('*')}"
						class="alert alert-danger m-auto">
						<p class="m-0 text-center" th:text="#{credential.hasErrors}">오류메시지</p>
					</div>
					<div class="mb-3">
						<div>
							<input type="text" class="form-control"
								th:class="'form-control ' + 
					    ${#fields.hasErrors('username') ? 'is-invalid' : ''}"
								placeholder="아이디" th:placeholder="#{login.page.input.username}"
								th:field="*{username}" />
						</div>
						<div>
							<div class="alert alert-warning"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
							</div>
						</div>
					</div>
					<div class="mb-3">
						<div >
							<input type="password" class="form-control"
								th:class="form-control"
								th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
								placeholder="비밀번호" th:placeholder="#{login.page.input.password}"
								th:field="*{password}" />
							<div class="alert alert-warning"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
						</div>
					</div>
					<div class="mb-3 d-flex col-12 justify-content-center">
						<button type="submit" class="btn btn-primary"
							th:text="#{login.page.input.submit}">로그인</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>